<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/535ae81e76.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/home.css">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1 id="page-heading">
        <i class="fa-solid fa-address-book"></i>
        Contact List
    </h1>

    <ul id="contact-list">
        <%
        for(i of contact_list){
            %>
                <li id="contact">
                    <div class="contact-detail">
                        <p id="p1"><%=i.name%></p>
                        <p id="p2"><%=i.phone%></p>
                    </div>
                    <div class="delete-contact">
                        <a href="/delete-contact/?id=<%=i._id%>">
                            <i class="fa-solid fa-rectangle-xmark"></i>
                        </a>
                    </div>
                </li>
            <%}
        %>
    </ul>

    <form action="/contact_list" method="POSt">
        <input type="text" name="name" placeholder="Enter your Name" required="true">
        <input type="number" name="phone" placeholder="Enter your phone" required="true">
        <button type="submit">Add Contact</button>
    </form>

    <script src="/JS/home.js"></script>
</body>
</html>